*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 160px;
    height: 180px;
}
.navbar navbar-expand-lg bg-body-tertiary{
    background-color: #343a40!important;
}
.price_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.price_btn p{
    justify-content: start;
    margin-top: 15px;
    margin-right: 10px;
}
.card h5{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowCarro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.col{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.col img{
    width: 70px;
    height: 70px;
    border-radius: 20px
}
.price_btn input{
    width: 30px;
    height: 30px;
}
.article-shop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.article-shop input{
    width: 30px;
}
.final-price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
}
.modal-body{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.modal-body img{
    border-radius: 15px;
}
.modal-price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
